<template>
    <div class="row">
        <div class="col-md-12">
            <div class='form-group'>
                <label for='mission'> Tambah Misi: </label>
                <div class="input-group">
                    <input
                        v-model='mission'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.mission[0]', false)}"
                        type='text'
                        id='mission'
                        placeholder='Tambah Misi'>
                    <div class="input-group-append">
                        <button @click="addMission" type="button" class="btn btn-primary">Tambah</button>
                    </div>
                    <div class='invalid-feedback'>
                        {{ get(this.error_data, 'errors.mission[0]', false) }}
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-md-12">
            <div class='form-group'>
                <label for='vision'>Tambah Visi: </label>
                <div class="input-group">
                    <input
                        v-model='vision'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.vision[0]', false)}"
                        type='text'
                        id='vision'
                        placeholder='Tambah Visi'>
                    <div class="input-group-append">
                        <button @click="addVision" type="button" class="btn btn-primary">Tambah</button>
                    </div>
                    <div class='invalid-feedback'>
                        {{ get(this.error_data, 'errors.vision[0]', false) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-2">
            <h2 class="text-center">Visi</h2>
            <ul class="list-group">
                <li v-for="(vision,index) in visionsData" v-bind:key="index" class="list-group-item">
                    <p>{{vision.content}}</p>
                    <div class="text-right">
                        <button @click="deleteItem(index,'visi')" type="button" class="btn btn-danger">
                            Hapus
                        </button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-6 p-2">
            <h2 class="text-center">Misi</h2>
            <ul class="list-group">
                <li v-for="(mission,index) in missionsData" v-bind:key="index" class="list-group-item">
                    <p>{{mission.content}}</p>
                    <div class="text-right">
                        <button type="button" @click="deleteItem(index,'misi')" class="btn btn-danger">
                            Hapus
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import {get} from 'lodash';
export default {
    props : [
        "visions", "missions"
    ],
    data(){
        return {
            visionsData : this.visions,
            missionsData : this.missions,
            error_data : '',
            mission : '',
            vision : '',
        }
    },
    methods :{
        get,
        deleteItem(index,type){
            let model = type == 'misi' ? this.missions[index] : this.visions[index];
            console.log(model);
            swal({
                title: "Hapus "+type+" ?",
                text: "Apakah anda yakin ingin menghapus ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    let url = type == 'misi' ? '/admin/delete-mission/'+model.id : '/admin/delete-vision/'+model.id;
                    axios.post(url)
                    .then((response) => {
                        if(response.status == 200){
                            swal("Berhasil dihapus!", {
                                icon: "success",
                            });
                            if(type == 'misi'){
                                this.missions.splice(index,1);
                            } else {
                                this.visions.splice(index,1);
                            }
                        }
                    })
                    .catch((error) => {
                        swal("Gagal dihapus !", {
                            icon: "warning",
                        });
                    });
                }
            });
        },
        addMission(){
            axios.post('/admin/add-mission',{
                mission : this.mission
            })
            .then((response) => {
                if(response.status == '201'){
                    swal("Item misi berhasil ditambahkan!");
                    this.missionsData.push(response.data.mission);
                }
            })
            .catch((error) => {
                this.error_data = error.response.data;
            });
        },
        addVision(){
            axios.post('/admin/add-vision',{
                vision : this.vision
            })
            .then((response) => {
                if(response.status == 201){
                    console.log(response);
                    swal("Item visi berhasil ditambahkan!");
                    this.visionsData.push(response.data.vision);
                }
            })
            .catch((error) => {
                this.error_data = error.response.data;
            });
        }
    }

}
</script>