<template>
    <div class="p-3 row">
        <div v-show="this.isUpdated" class="col-md-12">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Data Kontak dan Sosial Media berhasil diperbaharui</strong>
            </div>
        </div>
        <div class="col-md-12">
            <h2>Sosial Media - Kontak</h2>
        </div>
        <div class='form-group col-md-6 p-2 col-sm-12'>
            <label for='instagram'> Instagram: </label>
            <input
                v-model='instagram'
                class='form-control'
                :class="{'is-invalid': get(this.error_data, 'errors.instagram[0]', false)}"
                type='text'
                id='instagram'
                placeholder='Instagram'>
            <div class='invalid-feedback'>
                 {{ get(this.error_data, 'errors.instagram[0]', false) }}
            </div>
        </div>
        
        <div class='form-group col-md-6 p-2 col-sm-12'>
            <label for='facebook'> Facebook: </label>
            <input
                v-model='facebook'
                class='form-control'
                :class="{'is-invalid': get(this.error_data, 'errors.facebook[0]', false)}"
                type='text'
                id='facebook'
                placeholder='Facebook'>
            <div class='invalid-feedback'>
                 {{ get(this.error_data, 'errors.facebook[0]', false) }}
            </div>
        </div>

        <div class='form-group col-md-6 p-2 col-sm-12'>
            <label for='phone'> Phone: </label>
            <input
                v-model='phone'
                class='form-control'
                :class="{'is-invalid': get(this.error_data, 'errors.phone[0]', false)}"
                type='text'
                id='phone'
                placeholder='Phone'>
            <div class='invalid-feedback'>
                 {{ get(this.error_data, 'errors.phone[0]', false) }}
            </div>
        </div>

        <div class='form-group col-md-6 p-2 col-sm-12'>
            <label for='address'> Alamat: </label>
            <input
                v-model='address'
                class='form-control'
                :class="{'is-invalid': get(this.error_data, 'errors.address[0]', false)}"
                type='text'
                id='address'
                placeholder='Alamat'>
            <div class='invalid-feedback'>
                 {{ get(this.error_data, 'errors.address[0]', false) }}
            </div>
        </div>

        <div class='form-group col-md-6 p-2 col-sm-12'>
            <label for='email'> Email: </label>
            <input
                v-model='email'
                class='form-control'
                :class="{'is-invalid': get(this.error_data, 'errors.email[0]', false)}"
                type='text'
                id='email'
                placeholder='Email'>
            <div class='invalid-feedback'>
                 {{ get(this.error_data, 'errors.email[0]', false) }}
            </div>
        </div>

        <div class="col-md-12 text-right">
            <button @click="submitFormData" type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</template>
<script>
import {get} from 'lodash';
export default {
    props : [
        "contact","submit_url"
    ],
    computed : {
        formData(){
            return {
                instagram : this.instagram,
                facebook : this.facebook,
                phone : this.phone,
                address : this.address,
                email : this.email
            }
        }
    },
    data(){
        return {
            instagram : this.contact.instagram,
            facebook : this.contact.facebook,
            phone : this.contact.phone,
            email : this.contact.email,
            address : this.contact.address,
            error_data : null,
            isUpdated : false
        }
    },
    methods : {
        get,
        submitFormData(){
            axios.post(this.submit_url,this.formData)
                .then((response) => {
                    if(response.status == 200){
                        this.isUpdated = true;
                        setInterval(function(){
                            this.isUpdated = false; 
                        }.bind(this),2500);
                    }
                })
                .catch((error) => {
                    this.error_data = error.response.data;
                });
        }
    }
}
</script>