<template>
    <form @submit.prevent="submitProfile" action="" method="post">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Profil</h1>
            </div>
            <div v-show="this.isSuccess" class="col-md-12 my-3">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Profil Berhasil Diperbaharui !</strong> 
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class='form-group'>
                    <label for='head'> Judul: </label>
                    <input
                        v-model='head'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.head[0]', false)}"
                        type='text'
                        id='head'
                        placeholder='Judul'>
                    <div class='invalid-feedback'>
                         {{ get(this.error_data, 'errors.head[0]', false) }}
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 p-2 mb-3">
                <div class='form-group mb-1'>
                    <label for='first_left_title'> Judul Teks Kiri I: </label>
                    <input
                        v-model='first_left_title'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.first_left_title[0]', false)}"
                        type='text'
                        id='first_left_title'
                        placeholder='Judul Teks Kiri I'>
                    <div class='invalid-feedback'>
                         {{ get(this.error_data, 'errors.first_left_title[0]', false) }}
                    </div>
                </div>

                <div class='form-group'>
                    <label for='first_left_content'> Teks Kiri I: </label>
                    <textarea
                        v-model='first_left_content'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.first_left_content[0]', false)}"
                        id='first_left_content'>
                   </textarea>
                   <div class='invalid-feedback'>
                        {{ get(this.error_data, 'errors.first_left_content[0]', false) }}
                   </div>
                </div>
            </div>

            <div class="col-md-6 p-2 mb-3">
                <div class='form-group mb-1'>
                    <label for='first_right_title'> Judul Teks Kanan I: </label>
                    <input
                        v-model='first_right_title'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.first_right_title[0]', false)}"
                        type='text'
                        id='first_right_title'
                        placeholder='Judul Teks Kanan I'>
                    <div class='invalid-feedback'>
                         {{ get(this.error_data, 'errors.first_right_title[0]', false) }}
                    </div>
                </div>

                <div class='form-group'>
                    <label for='first_right_content'> Teks Kanan I: </label>
                    <textarea
                        v-model='first_right_content'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.first_right_content[0]', false)}"
                        id='first_right_content'>
                   </textarea>
                   <div class='invalid-feedback'>
                        {{ get(this.error_data, 'errors.first_right_content[0]', false) }}
                   </div>
                </div>
            </div>

            <div class="col-md-6 p-2">
                <div class='form-group'>
                    <label for='second_left_title'> Judul Teks Kiri II: </label>
                    <input
                        v-model='second_left_title'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.second_left_title[0]', false)}"
                        type='text'
                        id='second_left_title'
                        placeholder='Judul Teks Kiri II'>
                    <div class='invalid-feedback'>
                         {{ get(this.error_data, 'errors.second_left_title[0]', false) }}
                    </div>
                </div>

                <div class='form-group'>
                    <label for='second_left_content'> Teks Kiri II: </label>
                    <textarea
                        v-model='second_left_content'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.second_left_content[0]', false)}"
                        id='second_left_content'>
                   </textarea>
                   <div class='invalid-feedback'>
                        {{ get(this.error_data, 'errors.second_left_content[0]', false) }}
                   </div>
                </div>
            </div>

            <div class="col-md-6 p-2">
                <div class='form-group'>
                    <label for='second_right_title'> Judul Teks Kanan II: </label>
                    <input
                        v-model='second_right_title'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.second_right_title[0]', false)}"
                        type='text'
                        id='second_right_title'
                        placeholder='Judul Teks Kanan II'>
                    <div class='invalid-feedback'>
                         {{ get(this.error_data, 'errors.second_right_title[0]', false) }}
                    </div>
                </div>

                <div class='form-group'>
                    <label for='second_right_content'> Teks Kanan II: </label>
                    <textarea
                        v-model='second_right_content'
                        class='form-control'
                        :class="{'is-invalid': get(this.error_data, 'errors.second_right_content[0]', false)}"
                        id='second_right_content'>
                   </textarea>
                   <div class='invalid-feedback'>
                        {{ get(this.error_data, 'errors.second_right_content[0]', false) }}
                   </div>
                </div>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn-primary">Submit</button>
            </div>
            
        </div>    
    </form>
</template>

<script>
import {get} from 'lodash'
import { setInterval } from 'timers';
export default {
    props : [
        "profile","submit_url"
    ],
    data() {
        return {
            head : this.profile.head,
            first_left_title : this.profile.first_left_title,
            first_left_content : this.profile.first_left_content,
            second_left_title : this.profile.second_left_title,
            second_left_content : this.profile.second_left_content,
            first_right_title : this.profile.first_right_title,
            first_right_content : this.profile.first_right_content,
            second_right_title : this.profile.second_right_title,
            second_right_content : this.profile.second_right_content,
            isSuccess : false,
            error_data : null
        }
    },
    computed :{
        profileFormData(){
            return {
                head : this.head,
                first_left_title : this.first_left_title,
                first_left_content : this.first_left_content,
                second_left_title : this.second_left_title,
                second_left_content : this.second_left_content,
                first_right_title : this.first_right_title,
                first_right_content : this.first_right_content,
                second_right_title : this.second_right_title,
                second_right_content : this.second_right_content,
            }
        }
    },
    methods : {
        get,
        submitProfile(e){
            let formData = createFormData(this.profileFormData);
            axios.post(this.submit_url,this.profileFormData)
                .then((response) => {
                    if(response.status == 200){
                        this.isSuccess = true;

                        setInterval(function(){
                            this.isSuccess = false;
                        }.bind(this),3000);
                    }
                })
                .catch((error) => {
                    if(error){
                        this.error_data = error.response.data;
                    }
                });
        }
    }
}
</script>